body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
  /* Sets the display of the root container to grid */
    display: grid;
    
  /* Puts 10 pixels of space between each grid item */
    grid-gap: 0px;
    
  /* Determines the number of columns and how wide each column is relative to the others */
    grid-template-columns: 5fr 5fr;
    
  /* Determines the number of rows and how tall each row is relative to the others */
    
    max-height: 100vh;
min-height: 100vh;
} 
#login {
  background-image: url("https://media.giphy.com/media/G12DX1KaAcRva/giphy.gif");
  color: black;
  background-size: cover;
  background-position: center;
  grid-column-start: 1;
               
  /* The chat div ends at the beginning of column 2 */
    grid-column-end: 3;
 
    text-align: center;
}
#login-form {
  max-width: 330px;
  text-align: center;
  
}
.movieCard {
  max-width: 200px;
  max-height: 500px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  
  border: 5px solid black;
  background-color: black;
  border-radius: 9%;
  
}
.col-card-text {
  color: rgb(233, 114, 114);
text-align: center;
}
.needContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#needCard {
  max-width: 200px;
  max-height: 500px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
  background-color: black;
  border-radius: 9%;
  color: white;
}
.need-card-text {
  color:rgb(247, 40, 40);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.reviewCard {
  max-width: 200px;
  /* max-height: 400px; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: flex-start; */
  border: 5px solid black;
  background-color: black;
  border-radius: 9%;
  padding: 10px;
  margin: 10px;
}
.review-card-text {
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dislikeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#stuff{
  margin-top: auto;
}
#submitBtn {
  background-color: black;
}
#add-movie-btn {
  margin: 15px;
}
#home {
  background-image: url("http://th03.deviantart.net/fs70/PRE/f/2011/035/6/4/imdb_top_250_movie_poster_by_saxon1964-d38rnod.jpg");
  color: red;
  grid-column-start: 1;
  background-size: cover;
  background-position: center;
                
  /* The chat div ends at the beginning of column 2 */
    grid-column-end: 3;
 
    text-align: left;
}
#dislike {
  color: black;
  grid-column-start: 1;
  background-size: cover;
  background-position: center;
 
    grid-column-end: 3;
 
    text-align: left;
}

#collection {
  
  color: black;
  font-size: 20px;
  grid-column-start: 1;
  background-size: cover;
  background-position: center;
  /* The chat div ends at the beginning of column 2 */
    grid-column-end: 3;

    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

#checkbox-heading {
  color: black;
  font-size: 25px;
font-weight: 900;
}
/* .panel-body {
  background-image: url("http://letsbnb.co/wp-content/uploads/2018/03/neon-paint-splatter-bedroom-large-image-for-pink-walls-green-ideas-shirt.jpg");          

} */
#need {
  
  color: black;
  /* grid-column-start: 1; */
  background-size: cover;
  background-position: center;
      grid-column-start: 1;
      grid-column-end: 3;          
  /* The chat div ends at the beginning of column 2 */
    /* grid-column-end: 3; */
 
    text-align: left;
}
#navbar {
  font-size: 50px;
  background-color: rgb(15, 15, 20);
  
}
#searchBar {
  max-width: 500px;
}
#colNav {
  font-size: 50px;
  background-color: rgb(15, 15, 20);
  max-width: 100px;
  text-align: center;
}
#navBtn {
  padding: 15px;
  margin: 20px;
}
